
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='~/img/Logo.png' rel='shortcut icon' type='image/x-icon'>
        <title>@ViewBag.Title Trueketea</title>

        <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">

        <link href="~/componets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href= "~/componets/toastr/toastr.min.css" >
        <link rel="stylesheet" href= "~/componets/animate/animate.min.css" >
        <link rel="stylesheet" href= "~/componets/jqvmap/dist/jqvmap.min.css" >
        <link rel="stylesheet" href= "~/componets/DataTables/dataTables.bootstrap4.min.css" >

        <link rel="stylesheet" href="~/fonts/flaticon.css" type="text/css">
        <link rel="stylesheet" href="~/fonts/font-awesome.min.css" type="text/css">
        
       
        <link href="~/css/MyStyle/Colors.css" rel="stylesheet">
        <link href="~/css/MyStyle/common.css" rel="stylesheet">
        <link href="~/css/MyStyle/IconFonts.css" rel="stylesheet">
        <link href="~/css/MyStyle/Menus.css" rel="stylesheet">
        

        <script type="text/javascript" src="~/Scripts/jquery/jquery-3.4.1.min.js"></script>
         <script type="text/javascript" src="~/componets/bootstrap/js/bootstrap.bundle.min.js"></script>
         <script type="text/javascript" src="~/componets/Chart/Chart.min.js"></script>
         <script type="text/javascript" src="~/componets/DataTables/dataTables.bootstrap4.min.js"></script>
        <script type="text/javascript" src="~/componets/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery/jquery.validate.js"></script>
        <script type="text/javascript" src="~/componets/toastr/toastr.min.js"></script>
        <script type="text/javascript" src="~/componets/jqvmap/dist/jquery.vmap.js"></script>
        <script src="~/componets/jqvmap/dist/maps/jquery.vmap.spain.js"></script>
       
        

       

       
 
        
      
    </head>

   
        @RenderBody()
       
       
         
    
    <script type="text/javascript" src="~/componets/DataTables/dataTables.min.js"></script>
   <script src="~/Scripts/Menus/Menu.js"></script>
   <script src="~/Scripts/Dashboard/Dashboard.js"></script>
</html>
