<footer class="text-center site-footer">

                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <p class="copyright">

                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved |  <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="#" target="_blank">IS13Company</a>

                        </p>
                    </div>

                    <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook-square"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-linkedin-square"></i></a>
                    </div>

                </div>
</footer>

